<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-country-heading" jhiTranslate="cpigatewaycommApp.cpicommunicationCountry.home.createOrEditLabel">Create or edit a Country</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!country.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="country.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpigatewaycommApp.cpicommunicationCountry.countryName" for="field_countryName">Country Name</label>
                    <input type="text" class="form-control" name="countryName" id="field_countryName"
                        [(ngModel)]="country.countryName" required/>
                    <div [hidden]="!(editForm.controls.countryName?.dirty && editForm.controls.countryName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.countryName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpigatewaycommApp.cpicommunicationCountry.countryNameAbbr" for="field_countryNameAbbr">Country Name Abbr</label>
                    <input type="text" class="form-control" name="countryNameAbbr" id="field_countryNameAbbr"
                        [(ngModel)]="country.countryNameAbbr" required/>
                    <div [hidden]="!(editForm.controls.countryNameAbbr?.dirty && editForm.controls.countryNameAbbr?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.countryNameAbbr?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpigatewaycommApp.cpicommunicationCountry.countryNameChinese" for="field_countryNameChinese">Country Name Chinese</label>
                    <input type="text" class="form-control" name="countryNameChinese" id="field_countryNameChinese"
                        [(ngModel)]="country.countryNameChinese" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpigatewaycommApp.cpicommunicationCountry.dialCode" for="field_dialCode">Dial Code</label>
                    <input type="text" class="form-control" name="dialCode" id="field_dialCode"
                        [(ngModel)]="country.dialCode" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
