<div class="m-content">
    <div class="m-portlet" *ngIf="country">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        <span jhiTranslate="cpigatewayApp.country.detail.title">Country</span> {{country.countryName}}
                    </h3>
                </div>
            </div>
        </div>
        <jhi-alert></jhi-alert>
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-6 col-sm-12 row">
                    <label class="col-form-label col-sm-5">
                        <span jhiTranslate="cpigatewayApp.country.countryName">Country Name</span>
                    </label>
                    <div class="alert m-alert--default col-sm-6">
                        <span>&nbsp;</span>
                        <span>{{country.countryName}}</span>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 row">
                    <label class="col-form-label col-sm-5">
                        <span jhiTranslate="cpigatewayApp.country.countryNameAbbr">Country Name Abbr</span>
                    </label>
                    <div class="alert m-alert--default col-sm-6">
                        <span>&nbsp;</span>
                        <span>{{country.countryNameAbbr}}</span>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 row">
                    <label class="col-form-label col-sm-5">
                        <span jhiTranslate="cpigatewayApp.country.countryNameChinese">Country Name Chinese</span>
                    </label>
                    <div class="alert m-alert--default col-sm-6">
                        <span>&nbsp;</span>
                        <span>{{country.countryNameChinese}}</span>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 row">
                    <label class="col-form-label col-sm-5">
                        <span jhiTranslate="cpigatewayApp.country.dialCode">Dial Code</span>
                    </label>
                    <div class="alert m-alert--default col-sm-6">
                        <span>&nbsp;</span>
                        <span>{{country.dialCode}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions">
                <div class="row">
                    <div class="col-lg-9 ml-lg-auto">
                        <button type="submit" class="btn btn-info" (click)="previousState()">
                            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                        </button>
                        <span>&nbsp;</span>
                        <button type="button" class="btn btn-primary" [routerLink]="['/country/'+ country.id + '/edit']">
                            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-accordion m-accordion--default" id="m_accordion_1" role="tablist">
                <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_1_head"
                         data-toggle="collapse" href="#m_accordion_1_item_1_body" aria-expanded="false"
                         (click)="portListInit()">
                        <span class="m-accordion__item-icon">
                            <i class="fa  flaticon-placeholder"></i>
                        </span>
                        <span class="m-accordion__item-title" jhiTranslate="cpigatewayApp.port.home.title">
                            Ports
                        </span>
                        <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse" id="m_accordion_1_item_1_body">
                        <div class="m-accordion__item-content">
                            <jhi-port-list></jhi-port-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
