<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        <span jhiTranslate="cpigatewayApp.correspondentContact.home.title">Correspondent Contacts</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="form-group m-form__group row" (keyup)="searchKeyup($event)">
                <div class="col-lg-4 col-sm-12 row">
                    <label class="col-form-label m--align-right col-sm-5" jhiTranslate="cpigatewayApp.correspondentContact.correspondentContactName">
                        Correspondent Contact Name
                    </label>
                    <input type="text" class="form-control col-sm-6" name="correspondentContactName"
                           id="correspondentContactName"
                           [(ngModel)]="correspondentContact.correspondentContactName"/>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-sm-12">
                    <span class="col-auto">&nbsp;</span>
                    <button class="btn btn-info float-right" (click)="resetPage();searchCorrespondentContact();">
                        <span class="fa fa-search"></span>
                        <span>&nbsp;</span>
                        <span jhiTranslate="entity.action.search">Searching</span>
                    </button>
                    <span class="float-right">&nbsp;</span>
                    <button class="btn btn-default float-right" (click)="clear()">
                        <span class="fa fa-ban"></span>
                        <span>&nbsp;</span>
                        <span jhiTranslate="entity.action.clear">Clear</span>
                    </button>
                </div>
            </div>
            <hr>
            <div class="form-group m-form__group row">
                <div class="col-sm-12">
                    <button class="btn btn-primary" [routerLink]="['/correspondent-contact-new']">
                        <span class="fa fa-plus"></span>
                        <span>&nbsp;</span>
                        <span jhiTranslate="cpigatewayApp.correspondentContact.home.createLabel">
                            Create new Correspondent Contact
                        </span>
                    </button>
                </div>
            </div>
            <jhi-alert></jhi-alert>
            <div class="form-group m-form__group row" *ngIf="correspondentContacts">
                <table class="table table-sm m-table m-table--head-bg-primary table-hover table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="correspondentContactName" width="10%">
                            <span jhiTranslate="cpigatewayApp.correspondentContact.correspondentContactName">Correspondent Contact Name</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="telephoneOffice" width="10%">
                            <span
                                jhiTranslate="cpigatewayApp.correspondentContact.telephoneOffice">Mobile</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="telephone" width="10%">
                            <span jhiTranslate="cpigatewayApp.correspondentContact.telephone">Telephone</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="eMail" width="10%">
                            <span jhiTranslate="cpigatewayApp.correspondentContact.eMail">E Mail</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="webSite" width="10%">
                            <span jhiTranslate="cpigatewayApp.correspondentContact.webSite">Web Site</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="correspondentId" width="10%">
                            <span jhiTranslate="cpigatewayApp.correspondentContact.correspondent">Correspondent</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th width="5%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let _correspondentContact of correspondentContacts ;trackBy: trackId">
                        <td>{{_correspondentContact.correspondentContactName}}</td>
                        <td>{{_correspondentContact.telephoneOffice}}</td>
                        <td>{{_correspondentContact.telephone}}</td>
                        <td>{{_correspondentContact.eMail}}</td>
                        <td>{{_correspondentContact.webSite}}</td>
                        <td>
                            <div *ngIf="_correspondentContact.correspondentId">
                                <a [routerLink]="['/correspondent', _correspondentContact.correspondentId  ]">{{_correspondentContact.correspondentId}}</a>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group dropleft">
                                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-list-ul"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" [routerLink]="['/correspondent-contact', _correspondentContact.id ]">
                                        <span class="fa fa-eye"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                    </a>
                                    <a class="dropdown-item" [routerLink]="['/correspondent-contact/'+ _correspondentContact.id + '/edit']">
                                        <span class="fa fa-pencil"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </a>
                                    <a class="dropdown-item" replaceUrl="true" queryParamsHandling="merge"
                                       [routerLink]="['/', { outlets: { popup: 'correspondent-contact/'+ _correspondentContact.id + '/delete'} }]">
                                        <span class="fa fa-remove"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group m-form__group" *ngIf="correspondentContacts && correspondentContacts.length">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                                    [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                    (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
