<div>
    <h2 id="page-heading">
        <span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondentContact.home.title">Correspondent Contacts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-correspondent-contact" [routerLink]="['/correspondent-contact/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondentContact.home.createLabel">
            Create new Correspondent Contact
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="correspondentContacts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="correspondentContactName"><span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondentContact.correspondentContactName">Correspondent Contact Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="eMail"><span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondentContact.eMail">E Mail</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telephoneOffice"><span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondentContact.telephoneOffice">Telephone Office</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telephone"><span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondentContact.telephone">Telephone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="webSite"><span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondentContact.webSite">Web Site</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="correspondentCorrespondentName"><span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondentContact.correspondent">Correspondent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let correspondentContact of correspondentContacts ;trackBy: trackId">
                <td><a [routerLink]="['/correspondent-contact', correspondentContact.id, 'view' ]">{{correspondentContact.id}}</a></td>
                <td>{{correspondentContact.correspondentContactName}}</td>
                <td>{{correspondentContact.eMail}}</td>
                <td>{{correspondentContact.telephoneOffice}}</td>
                <td>{{correspondentContact.telephone}}</td>
                <td>{{correspondentContact.webSite}}</td>
                <td>
                    <div *ngIf="correspondentContact.correspondentId">
                        <a [routerLink]="['../correspondent', correspondentContact.correspondentId , 'view' ]" >{{correspondentContact.correspondentCorrespondentName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/correspondent-contact', correspondentContact.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/correspondent-contact', correspondentContact.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'correspondent-contact/'+ correspondentContact.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="correspondentContacts && correspondentContacts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
