<div>
    <h2 id="page-heading">
        <span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondent.home.title">Correspondents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-correspondent" [routerLink]="['/correspondent/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondent.home.createLabel">
            Create new Correspondent
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="correspondents">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="correspondentName"><span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondent.correspondentName">Correspondent Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="faxNumber"><span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondent.faxNumber">Fax Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address"><span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondent.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telephoneOffice"><span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondent.telephoneOffice">Telephone Office</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telephoneAlternate"><span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondent.telephoneAlternate">Telephone Alternate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="webSite"><span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondent.webSite">Web Site</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="portPortName"><span jhiTranslate="cpigatewaycommApp.cpicommunicationCorrespondent.port">Port</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let correspondent of correspondents ;trackBy: trackId">
                <td><a [routerLink]="['/correspondent', correspondent.id, 'view' ]">{{correspondent.id}}</a></td>
                <td>{{correspondent.correspondentName}}</td>
                <td>{{correspondent.faxNumber}}</td>
                <td>{{correspondent.address}}</td>
                <td>{{correspondent.telephoneOffice}}</td>
                <td>{{correspondent.telephoneAlternate}}</td>
                <td>{{correspondent.webSite}}</td>
                <td>
                    <div *ngIf="correspondent.portId">
                        <a [routerLink]="['../port', correspondent.portId , 'view' ]" >{{correspondent.portPortName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/correspondent', correspondent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/correspondent', correspondent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'correspondent/'+ correspondent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="correspondents && correspondents.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
