<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        <span jhiTranslate="cpigatewayApp.correspondent.home.title">Correspondents</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="form-group m-form__group row" (keyup)="searchKeyup($event)">
                <div class="col-lg-4 col-sm-12 row">
                    <label class="col-form-label m--align-right col-sm-5" jhiTranslate="cpigatewayApp.correspondent.correspondentName">
                        Correspondent Name
                    </label>
                    <input type="text" class="form-control col-sm-6" name="correspondentName" id="correspondentName"
                           [(ngModel)]="correspondent.correspondentName"/>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-sm-12">
                    <span class="col-auto">&nbsp;</span>
                    <button class="btn btn-info float-right" (click)="resetPage();searchCorrespondent();">
                        <span class="fa fa-search"></span>
                        <span>&nbsp;</span>
                        <span jhiTranslate="entity.action.search">Searching</span>
                    </button>
                    <span class="float-right">&nbsp;</span>
                    <button class="btn btn-default float-right" (click)="clear()">
                        <span class="fa fa-ban"></span>
                        <span>&nbsp;</span>
                        <span jhiTranslate="entity.action.clear">Clear</span>
                    </button>
                </div>
            </div>
            <hr>
            <div class="form-group m-form__group row">
                <div class="col-sm-12">
                    <button class="btn btn-primary" [routerLink]="['/correspondent-new']">
                        <span class="fa fa-plus"></span>
                        <span>&nbsp;</span>
                        <span jhiTranslate="cpigatewayApp.correspondent.home.createLabel">
                            Create new Correspondent
                        </span>
                    </button>
                    <span>&nbsp;</span>
                    <button class="btn btn-success" (click)="createCorrespondentBookPDF()">
                        <span class="fa fa-download"></span>
                        <span>&nbsp;</span>
                        <span jhiTranslate="entity.action.downloadPDF">
                            Download PDF
                        </span>
                    </button>
                    <span>&nbsp;</span>
                    <button class="btn btn-success" (click)="createCorrespondentBookExcel()">
                        <span class="fa fa-download"></span>
                        <span>&nbsp;</span>
                        <span jhiTranslate="entity.action.downloadExcel">
                            Download Excel
                        </span>
                    </button>
                    <span>&nbsp;</span>
                    <button class="btn btn-success" (click)="createCorrespondentBookWord()">
                        <span class="fa fa-download"></span>
                        <span>&nbsp;</span>
                        <span jhiTranslate="entity.action.downloadWord">
                            Download Word
                        </span>
                    </button>
                </div>
            </div>
            <jhi-alert></jhi-alert>
            <div class="form-group m-form__group row" *ngIf="correspondents">
                <table class="table table-sm m-table m-table--head-bg-primary table-hover table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="correspondentName" width="10%">
                            <span jhiTranslate="cpigatewayApp.correspondent.correspondentName">Correspondent Name</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="faxNumber" width="10%">
                            <span jhiTranslate="cpigatewayApp.correspondent.faxNumber">Fax Number</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="address" width="20%">
                            <span jhiTranslate="cpigatewayApp.correspondent.address">Address</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="telephoneOffice" width="10%">
                            <span jhiTranslate="cpigatewayApp.correspondent.telephoneOffice">Telephone Office</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="telephoneAlternate" width="10%">
                            <span
                                jhiTranslate="cpigatewayApp.correspondent.telephoneAlternate">Telephone Alternate</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="webSite" width="10%">
                            <span jhiTranslate="cpigatewayApp.correspondent.webSite">Web Site</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="portPortName" width="10%">
                            <span jhiTranslate="cpigatewayApp.correspondent.port">Port</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th width="5%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let _correspondent of correspondents ;trackBy: trackId">
                        <td>{{_correspondent.correspondentName}}</td>
                        <td>{{_correspondent.faxNumber}}</td>
                        <td>{{_correspondent.address}}</td>
                        <td>{{_correspondent.telephoneOffice}}</td>
                        <td>{{_correspondent.telephoneAlternate}}</td>
                        <td>{{_correspondent.webSite}}</td>
                        <td>
                            <div *ngIf="_correspondent.portId">
                                <a [routerLink]="['/port', _correspondent.portId  ]">{{_correspondent.portPortName}}</a>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group dropleft">
                                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-list-ul"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" [routerLink]="['/correspondent', _correspondent.id ]">
                                        <span class="fa fa-eye"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                    </a>
                                    <a class="dropdown-item" [routerLink]="['/correspondent/'+ _correspondent.id + '/edit']">
                                        <span class="fa fa-pencil"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </a>
                                    <a class="dropdown-item" replaceUrl="true" queryParamsHandling="merge"
                                       [routerLink]="['/', { outlets: { popup: 'correspondent/'+ _correspondent.id + '/delete'} }]">
                                        <span class="fa fa-remove"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group m-form__group" *ngIf="correspondents && correspondents.length">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                                    [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                    (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
