<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        <span jhiTranslate="cpigatewayApp.correspondent.home.title">Correspondents</span>
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true"
                        (click)="activeModal.dismiss('closed')">
                    <span>X</span>
                </button>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="form-group m-form__group row" (keyup)="searchKeyup($event)">
                <div class="col-lg-6 col-sm-12 row">
                    <label class="col-form-label m--align-right col-sm-5"
                           jhiTranslate="cpigatewayApp.correspondent.correspondentName">Correspondent Name</label>
                    <input type="text" class="form-control col-sm-6" name="correspondentName" id="correspondentName"
                           [(ngModel)]="correspondent.correspondentName"/>
                </div>
                <div class="col-lg-6 col-sm-12 row">
                    <label class="col-form-label m--align-right col-sm-5"
                           jhiTranslate="cpigatewayApp.correspondent.port">Port</label>
                    <input type="text" class="form-control col-sm-6" name="portPortName" id="portPortName"
                           [(ngModel)]="correspondent.portPortName"/>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-sm-12">
                    <span class="col-auto">&nbsp;</span>
                    <button class="btn btn-info float-right" (click)="resetPage();searchCorrespondent();">
                        <span class="fa fa-search"></span>&nbsp;<span
                        jhiTranslate="entity.action.search">Searching</span>
                    </button>
                    <span class="float-right">&nbsp;</span>
                    <button class="btn btn-default float-right" (click)="clear()">
                        <span class="fa fa-ban"></span>&nbsp;<span
                        jhiTranslate="entity.action.clear">Clear</span>
                    </button>
                </div>
            </div>
            <jhi-alert></jhi-alert>
            <div class="form-group m-form__group row" *ngIf="correspondents">
                <table class="table table-sm m-table m-table--head-bg-primary table-hover table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="correspondentName" width="10%">
                            <span jhiTranslate="cpigatewayApp.correspondent.correspondentName">Correspondent Name</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="webSite" width="10%">
                            <span jhiTranslate="cpigatewayApp.correspondent.webSite">Web Site</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="portPortName" width="10%" class="hiddenXS">
                            <span jhiTranslate="cpigatewayApp.correspondent.port">Port</span>
                            <span class="fa fa-sort"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let _correspondent of correspondents ;trackBy: trackId"
                        (click)="selectCorrespondent(_correspondent)">
                        <td>{{_correspondent.correspondentName}}</td>
                        <td>{{_correspondent.webSite}}</td>
                        <td class="hiddenXS">{{_correspondent.portPortName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group m-form__group" *ngIf="correspondents && correspondents.length">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                                    [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                    [maxSize]="5"
                                    [rotate]="true" [boundaryLinks]="true"
                                    (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>


