<!--<jhi-page-ribbon></jhi-page-ribbon>-->
<!--<div>-->
<!--    <router-outlet name="navbar"></router-outlet>-->
<!--</div>-->
<!--<div class="container-fluid">-->
<!--    <div class="card jh-card">-->
<!--        <router-outlet></router-outlet>-->
<!--        <router-outlet name="popup"></router-outlet>-->
<!--    </div>-->
<!--    <jhi-footer></jhi-footer>-->
<!--</div>-->
<jhi-header-nav></jhi-header-nav>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <jhi-aside-nav></jhi-aside-nav>
    <div id="content" class="m-grid__item m-grid__item--fluid m-wrapper m-content">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
</div>
<jhi-footer></jhi-footer>
<!--<jhi-scroll-top></jhi-scroll-top>-->
